﻿@model eUseControl.Web.Models.LoginForm

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Login";
}
        <section class="body-sign">
            <div class="center-sign">
                <a href="/" class="logo float-left">
                    <img src="~/img/logo3.png" height="60" alt="UTM" />
                </a>

                <div class="panel card-sign">
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <h1 title="Please, fill in all the blank fields">Login</h1>
                            <div class="group">
                                @Html.LabelFor(x => x.Email)
                                @Html.TextBoxFor(x => x.Email, new { @type = "email" })
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>
                            <div class="group">
                                @Html.LabelFor(x => x.Password)
                                @Html.PasswordFor(x => x.Password)
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>

                            <div class="group button_container">
                                <button>Login</button>
                            </div>

                            <div class="group">
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </div>

                            <div class="group">
                                @Html.ActionLink("Create an account", "Register")
                            </div>
                        }
                    </div>
                   </div>
                </div>
        </section>
